--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
openai==1.4.0
tiktoken
nltk==3.8.1
transformers==4.36.0
datasets==1.18.3
numpy==1.22.0
scikit-learn==1.2.1
tenacity==8.2.2
seaborn==0.12.2
matplotlib==3.6.0
pandas==1.4.0
accelerate==0.26.1
z3==0.2.0
jupyter
ipywidgets